{{!-- <h1>Note Details</h1>
<pre>{{note}}</pre> --}}

<div class="page-wrapper">
        <div class="note-container">
            <h1>Note Details</h1>
            <pre>{{note}}</pre>
            <br>
            <button onclick="window.location.href='/journal'">Back to Journal</button>
        </div>
</div>